/* Сдесь мы дикларируем переменные для всего документа */
/* :root {
	
} */

/* Шрифты */
  .roboto-regular, .container-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    
  }

.roboto-bold, .container-page-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
  }

* {
	padding: 0;
    margin: 0;
	box-sizing: border-box; /* Это свойсто чтоб был четкий размер блока и не суммировался со всем остальным(отступы и прочее) */
	list-style: none; /* Обнуление дизайна списка */
	border: none;
    text-decoration: none;
    color: black;
}
/* Общие свойства */
.container, nav.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    min-width: 360px;
    padding: 35px 0;
    background: url(/prices-clinic/img/bg.webp) no-repeat;
    background-size: cover;
}
.container {
    margin: 35px;
}
div.container-page-name {
    margin-bottom: 35px;
}
nav.container-menu {
    max-width: max-content;
}
a.container-menu {
    width: 100%;
    margin: 5px auto;
    background-color: #ffffff9e;
    padding: 15px;
    border-radius: 5px;
}