/* Сдесь мы дикларируем переменные для всего документа */
/* :root {
	
} */

/* Шрифты */
  .roboto-medium, td, * {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
  }

.roboto-bold, h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
  }

* {
	padding: 0;
    margin: 0;
	box-sizing: border-box; /* Это свойсто чтоб был четкий размер блока и не суммировался со всем остальным(отступы и прочее) */
	list-style: none; /* Обнуление дизайна списка */
	border: none;
    text-decoration: none;
}

body {
    min-width: 330px;
    align-items: center;
    padding: 35px 0;
    background: url(../img/bg.webp) no-repeat border-box;
    background-size: cover;
    text-align: center;
}
a.menu {
    max-width: max-content;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.55);
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.35);
}
a.menu:hover {
    background-color: rgba(255, 255, 255, 0.85);
}
h1 {
    text-align: center;
    display: block;
}
h1, table {
    width: 75%;
}

table {
    border-collapse: collapse;
}
td {
    border: 1px solid rgb(53, 52, 52);
    padding: 5px 5px;
}
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
}
.name {
    text-align: left;
}
.price {
    text-align: right;
}
@media (max-width: 830px) {
    h1 {
        font-size: 20px;
    }
    td, a {
        font-size: 12px;
    }
}
@media (max-width: 470px) {
    h1 {
        font-size: 14px;
    }
    td, a {
        font-size: 9px;
    }
}
h1, table {
    margin: 35px auto;
}


	
